<div class="custom-container">
<h3>Recipes</h3>
<%= link_to 'add new', [:new, :admin, :recipe],
class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button-container" %>
<table width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to 'Edit', [:edit, :admin, recipe] %></td>
        <td><%= link_to 'Destroy', [:admin, recipe], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
