<div class="container__recipies">
  <div class="container__recipies--summary-succes">
    We found 5 recipies for you!
  </div>
  <div hidden class="container__recipies--summary-failure">
    We didn't find any recipe matched your ingredients list... Add some ingredient and try again.
  </div>
  <div class="container__recipies--list">
    <ul>
      <li><span class="container__recipies--name">pancakes</span><div class="container__recipies--image"></div></li>
      <li><span class="container__recipies--name">potatoes pancakes</span><div class="container__recipies--image"></div></li>
      <li><span class="container__recipies--name">raspberry pie</span><div class="container__recipies--image"></div></li>
      <li><span class="container__recipies--name">broccoli soup</span><div class="container__recipies--image"></div></li>
      <li><span class="container__recipies--name">risotto</span><div class="container__recipies--image"></div></li>
    </ul>
  </div>
</div>

<h1>Your search results:</h1>
<div>
  <% @recipes.each do |r| %>
    <h3><%= link_to r.name, r %> </h3>
    <p><%= r.description %></p>
  <% end %>
</div>

