<div class="container__recipe mdl-grid">
  <div class="container__recipe--description dl-cell mdl-cell--5-col">
    <h1 class="container__recipe--name"><%= @recipe.name.capitalize %> </h1>

    <div class="container__recipe--summary">
      <ul>
        <li>Time: 30 min</li>
        <li>For: 2 people</li>
        <li>Cost: cheap</li>
      </ul>
    </div>

    <div class="container__recipe--ingredients_list"><b>Ingredients:</b><br>
      <%= simple_format(@recipe.ingredient_details) %>
    </div>

    <div class="container__recipe--preparation">
      <%= simple_format(@recipe.description) %>
    </div>
  </div>
  <div class="dl-cell mdl-cell--1-col"></div>
  <div class="container__recipe--image mdl-cell mdl-cell--6-col">
    <%= image_tag(@recipe.img_url) %>
  </div>
</div>
