<div class="container__recipe">
  <div class="container__recipe--image">
  </div>
  <form>
    <input type="submit" value="Back to search results">
  </form>
  <div class="container__recipe--description">
    <h1 class="container__recipe--name">Pancakes with lorem ipsum</h1>
    <div "container__recipe--summary">
      <ul>
        <li>Time: 30 min</li>
        <li>For: 3 people</li>
        <li>cheap</li>
      </ul>
    </div>
    <div class="container__recipe--ingredients">
      <b>Ingredients:</b>
      <ul>
        <li>3 eggs</li>
        <li>1 spoon of oil</li>
        <li>salt</li>
        <li>2 glasses of flour</li>
        <li>1 1/4 glasses of milk</li>
        <li>1 1/4 glasses of water</li>
        <li>nutmeg</li>
      </ul>
    </div>
    <div class="container__recipe--preparation">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus
      pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit
      interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet,
       elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis.
       Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat,
       purus sapien ultricies dolor, et mollis pede metus eget nisi.
      Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus,
      urna quam viverra nisi, in interdum massa nibh nec erat.
    </div>
    <div class="timestamp">added:19.07.2016
    </div>
  </div>

  <div class="container__comments">
    <ul class="container__comments--list">
      <li>
        <span class="user__name">QwertyJon</span>
        <p class="comment__text" >lorem ipsum tastes delicious</p>
        <span class="comment__timestamp">added: 21.07.2016 21:03</span></li>
      <li>
        <span class="user__name">rustyspoon</span>
        <p class="comment__text">the best with dolor sit amet</p>
        <span class="comment__timestamp">added: 21.07.2016 11:23</span></li>
      <li>
        <span class="user__name">FriendlyCheese23</span>
        <p class="comment__text">I'd add some beer instaed water</p>
        <span class="comment__timestamp">added: 20.07.2016 17:53</span></li>
    </ul>
  </div>
</div>
