<h1>Wanna have lunch?</h1>
<button>YES!</button>

<h1>What do you have in your fridge?</h1>

<%= form_tag(recipes_path, method: "get") do %>
  <%= select_tag "ingredient", options_from_collection_for_select(@ingredients, "id", "name") %>
  <%= submit_tag("Give me recipe!") %>
<% end %>
