<div class="mdl-grid admin_ingredients--center">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--12-col">
    <h1 class="container__recipe--name" style="text-align: center">Ingredients</h1>
    <button class="mdl-button mdl-js-button mdl-button--fab ingredients">
      <i class="material-icons"><%= link_to 'add new', [:new, :admin, :ingredient] %></i>
    </button>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--12-col center">
    <table class="table ingredients">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
          <%= render partial: "ingredient", locals: { ingredient: ingredient } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
