<div  class="mdl-grid ingrediets-cover lunch-gap--none grid--center">
  <div class="mdl-cell mdl-cell--6-col">
    <h1 class="ingredients-question">Thank you for the visit!</h1>
    <%= image_tag "logo/sygnet.png", class: "fridge-image" %>
    <h4>Any feedback? Drop us a line on:</h4>
    <a href="mailto:luncher@luncher.com" target="_top" class="link">contact@luncher.com</a>
  </div>
</div>
