.js-selectpicker {
  width: 50%;
}

.div-size {
  width: 50%;
  height: 370px
}

.url-size {
  width: 50%;
  height: 70px
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.flex-for-div {
    display: flex;
    flex-direction: column;
}
