.container__recipe {
  font-family: 'Calibri', sans-serif;
  text-align: center;
}

.container__recipe--name{
  font-family: 'Pacifico', sans-serif;
}

.container__recipe--image{
  margin-top: 130px;
  padding-right: 5px;
}
.container__recipe--image img{
  max-width: 650px;
}

.container__recipe--summary li{
  list-style: none;
  font-family: 'Advent Pro', sans-serif;
  display: inline;
  padding: 2px;
}

.container__recipe--ingredients_list{
  line-height: 1.5em;
  text-align: left;
  margin-left: 5%;
  border-bottom: 1px dashed #000;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.container__recipe--preparation{
   text-align: left;
   padding-left: 5%;
   text-indent: 20px;
   margin-top: 2%;
}
