.container__recipies--list{
  padding-left: 5%;
}

.search_results__title{
  padding: 1% 0% 5% 8%;
  font-family: 'Advent Pro', sans-serif
}

/*--- Square card ---*/
.demo-card-square.mdl-card {
  width: 400px;
  height: 400px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: bottom right 15% #ccc;
}

.list_item {
  list-style: none;
}

.image {
  align-items: inherit;
  width:100%;
  height: 100%;
}

.recipe__link{
  text-decoration: none;
  color:#888;
  padding-right: 5%;
  float:right;
}

.recipe__link:hover{
  color:#000;
}
